#home {
  #content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 3rem 0;
    position: relative;
    overflow: hidden;

    #welcome {
      max-width: 430px;
      padding: 0 1rem;

      h2 {
        font-size: clamp(1.5rem, 3vw, 2rem);
      }

      p {
        font-size: clamp(1rem, 3vw, 1.5rem);
        font-weight: 500;
        margin: 2rem 0;
      }
    }

    img {
      max-width: 500px;
      min-width: 300px;
      width: 40vw;

      @media (width <=1024px) {
        position: absolute;
        bottom: -10vh;
        right: -5vw;
        z-index: -1;
      }
    }
  }
}
